<section class="wr-content" ng-controller="CheckoutCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="item_query">
                    <h1 ng-hide="isHide">Nunc dignissim risu</h1>
                    <h1 ng-show="isHide">Thank you for your purchase!!!</h1>
                    <a ng-show="isHide" class="btn again" href="/" role="button">Try again</a>
                    <form ng-hide="isHide" class="input_query css-form" name="form" novalidate>
                        <input type="text" class="form-control" name="name" placeholder="name ..." ng-model="name"
                               ng-pattern="regexName" required>
                        <!--<span ng-show="form.name.$error.required">Имя пользователя обязательно.</span>-->
                        <input type="email" class="form-control" name="email" placeholder="email ..." ng-model="email"
                               ng-pattern="regexEmail" required>
                        <!--<span ng-show="form.email.$error.required">Email обязателен.</span>-->
                        <input type="tel" class="form-control" name="phone" placeholder="phone ..." ng-model="phone"
                               ng-pattern="regexPhone" required>
                        <input type="text" class="form-control" name="city" placeholder="city ..." ng-model="city"
                               ng-pattern="regexLetters" required>
                        <input type="text" class="form-control" name="street" placeholder="street ..." ng-model="street"
                               ng-pattern="regexLetters" required>
                        <input type="text" class="form-control" name="house" placeholder="house ..." ng-model="house"
                               ng-pattern="regexNumber" required>
                        <input type="text" class="form-control" name="apartment" placeholder="apartment ..." ng-model="apartment"
                               ng-pattern="regexNumber" required>
                        <input type="text" class="form-control" placeholder="access ...">
                        <input type="text" class="form-control" placeholder="floor ...">
                        <textarea rows="3" class="form-control" placeholder="additional information ..."></textarea>
                        <h3>Payment option:</h3>
                        <select>
                            <option>Through the Internet</option>
                            <option>Cash to the courier</option>
                            <option>Card to the courier</option>
                        </select>
                        <!--<label><input type="radio" ng-model="option" value="1">Through the Internet</label><br>
                        <label><input type="radio" ng-model="option" value="2">Cash to the courier</label><br>
                        <label><input type="radio" ng-model="option" value="3">Card to the courier</label><br>-->
                        <label><input type="checkbox">Cut pizza</label><br>
                        <button type="submit" class="btn" ng-disabled="form.$invalid" ng-click="send()">
                            send
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div ng-hide="isHide" class="cart" ng-show="carts.length > 0">
                    <h3>Your cart</h3>
                    <p>All goods: {{carts.length}}</p>
                    <div ng-repeat="item in carts">
                        <button class="remove" ng-click="removeItem(carts,item)">X</button>
                        {{item.title}} * {{item.num}}= {{item.price * item.num | currency}}
                    </div>
                    <p class="total">Total: {{getTotal() | currency}}</p>
                </div>
                <!--<div ng-include="templates.url"></div>-->
                <div my-contacts data-title="ALIQUAM TINCIDUNT"></div>
            </div>
        </div>
    </div>
</section>