<div class="item_contacts">
    <!--<h2 ng-transclude></h2>-->
    <h2>{{title}}</h2>
    <address>
        <hr>
        <div class="slidebar">
            <i class="icon-home3"></i>
            <div class="item_address">
                <h4>Address</h4>
                <p>some block, steet number, city name, country</p>
            </div>
        </div>
        <hr>
        <div class="slidebar">
            <i class="icon-phone-square"></i>
            <div class="item_phone">
                <h4>Phone</h4>
                <ul>
                    <li><a href="tel:(000) 777 777 7777">{{tel1}}</a></li>
                    <li><a href="tel:(000) 888 888 8888">{{tel2}}</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="slidebar">
            <i class="icon-mail"></i>
            <div class="item_email_us">
                <i class="mail-envelope-closed"></i>
                <h4>Email us</h4>
                <ul>
                    <li><a href="mailto:info@sitename.com">{{mail1}}</a></li>
                    <li><a href="mailto:sales@sitename.com">{{mail2}}</a></li>
                    <li><a href="mailto:company@sitename.com">{{mail3}}</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </address>
</div>