<section class="wr-content" ng-show="!isLogin">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="item_query">
                    <h1>Nunc dignissim risu</h1>
                    <form class="input_query css-form" name="form" novalidate>
                        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus liber</p>
                        <input type="text" class="form-control" name="name" placeholder="name ..." ng-model="name"
                               ng-pattern="regexName" required>
                        <input type="password" class="form-control" name="password" placeholder="password ..." ng-model="password"
                               ng-pattern="regexPassword" required>
                        <button class="btn" ng-click='login()' ng-disabled="form.$invalid">Log in</button>
                    </form>
                </div>
            </div>
            <!--<div class="col-md-4" ng-include="templates.url"></div>-->
            <div class="col-md-4">
                <my-contacts data-title="ALIQUAM TINCIDUNT"></my-contacts>
            </div>
        </div>
    </div>
</section>