<!--<section class="wr-advantages" ng-controller="OrdersCtrl">
    <div class="container">
        <div class="row catalog">
            <div class="col-md-3">
                <div class="cart" ng-show="orders.length > 0">
                    <h3>Your orders</h3>
                    <p>All goods: {{orders.length}}</p>
                    <div ng-repeat="item in orders">
                        &lt;!&ndash;<button class="remove" ng-click="removeItem(carts,item)">X</button>&ndash;&gt;
                        {{item.title}} * {{item.num}}= {{item.price * item.num | currency}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

<section class="wr-advantages" ng-controller="OrdersCtrl" ng-show="isLogin">
    <div class="container">
        <div class="row catalog">
            <div class="col-md-8">
                <h1>Your orders</h1>
                <uib-accordion>
                    <div ng-repeat="item in form" uib-accordion-group class="panel-default">
                        <uib-accordion-heading>
                            {{item.name}} {{item.date}}
                        </uib-accordion-heading>
                        <div ng-repeat="order in item.orders">
                            {{order.title}} * {{order.num}}= {{order.price * order.num | currency}}
                        </div>
                        {{item.email}} {{item.phone}} {{item.city}} {{item.street}} {{item.house}} {{item.apartment}}
                    </div>
                </uib-accordion>
            </div>
            <div class="col-md-4">
                <my-contacts data-title="ALIQUAM TINCIDUNT"></my-contacts>
            </div>
        </div>
    </div>
</section>