<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <nav class="footer_nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <small class="copyright"><span>Designed by: </span><a href="#" class="design">www.alltemplateneeds.com / </a>Images from: <a href="#" class="images">www.wallpaperswide.com / </a>Copyright(c) website name.</small>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <figure class="footer_icons">
                    <div class="circle">
                        <i class="icon-facebook"></i>
                    </div>
                    <div class="circle">
                        <i class="icon-twitter"></i>
                    </div>
                    <div class="circle">
                        <i class="icon-linkedin"></i>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</footer>