<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="logo">Site Name</a>
            </div>
            <div class="col-md-5 col-md-offset-5">
                <nav class="header_nav">
                    <ul>
                        <li  class="active"><a href="#">Home</a></li> <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>